<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Criar Personagem — Reinos de Aerion</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <main class="criacao-personagem">

        <header class="cabecalho-criacao">

            <p class="titulo-jogo">
                REINOS DE AERION
            </p>

            <h1>Criar Personagem</h1>

        </header>


        <form method="POST" action="/novo-jogo">

            <div class="campo">

                <label for="nome">
                    Nome do personagem
                </label>

                <input
                    type="text"
                    id="nome"
                    name="nome"
                    minlength="3"
                    maxlength="30"
                    placeholder="Nome"
                    required
                >

            </div>


            <div class="campo">

                <label>
                    Classe
                </label>

                <div class="selecao-classes">

                    <label class="classe-card">

                        <input
                            type="radio"
                            name="classe"
                            value="Guerreiro"
                            required
                        >

                        <span>
                            GUERREIRO
                        </span>

                    </label>


                    <label class="classe-card">

                        <input
                            type="radio"
                            name="classe"
                            value="Mago"
                        >

                        <span>
                            MAGO
                        </span>

                    </label>


                    <label class="classe-card">

                        <input
                            type="radio"
                            name="classe"
                            value="Ladino"
                        >

                        <span>
                            LADINO
                        </span>

                    </label>

                </div>

            </div>


            <button
                type="submit"
                class="botao-criar-personagem"
            >
                CRIAR PERSONAGEM
            </button>

        </form>

    </main>

</body>

</html>